<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidsirkovich">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/baseline_polymer_black_18dp"
        android:label="@string/splash_name"
        android:roundIcon="@mipmap/baseline_polymer_black_18dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />


            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />


            </intent-filter>
        </activity>
    </application>

</manifest>